// Хранилище всех повторяющихся значений

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&family=Anton&display=swap');

$main-black: #000;
$main-white: #fff;
$main-gray: #979595;
$secondary-color: #63103a;
$orange: #ff6600;

$font-main: 'Montserrat';
$font-title: 'Anton';

$container: 1440px;
