@use '../base/variables' as *;

.header {
	align-items: center;
	display: flex;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 100;
	width: 100%;
	padding: 40px 0 0 0;

	background: transparent;
	animation: fadeDown 0.6s ease both;
	&__container {
		align-items: center;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__logo {
		color: $main-white;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__list {
		display: flex;
		gap: 34px;
	}

	&__link {
		position: relative;
		color: inherit;
		color: $main-white;
		font-size: 16px;
		text-decoration: none;
		text-transform: uppercase;

		&::after {
			bottom: -5px;
			left: 0;
			position: absolute;
			height: 2px;
			width: 100%;
			background: $secondary-color;
			transition: transform 0.3s ease;
			content: '';
			transform: scaleX(0);
		}

		&:hover::after {
			transform: scaleX(1);
		}
	}
}
